body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}

.container {
    padding: 20px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul.hidden {
    display: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #0056b3;
}
