/* Hamburger Menu */
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 4px 0;
}

.nav-menu {
    display: none;
    flex-direction: column;
    background-color: #e9ecef;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-menu a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    margin: 10px 0;
}

.nav-menu.show {
    display: flex;
}

/* Shared Styles for SGPA calculator */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

#calc {
    background-color: #007bff;
    color: white;
    padding: 0.5% 2%;
    font-size: 100%;
    border: none;
    border-radius: 5px;
}

label {
    color: #343a40;
    font-weight: bold;
}

input {
    background-color: #f8f9fa;
    margin: 1% 0 2% 0;
    font-weight: bold;
    text-align: center;
    font-size: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

#res {
    font-size: 200%;
    width: 150px;
    background-color: #ffffff;
    color: #28a745;
    border: none;
    text-align: center;
}
