/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 90%;
    max-width: 600px;
}

#calc {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    color: #343a40;
    font-weight: bold;
}

input {
    background-color: #f8f9fa;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

#res {
    font-size: 24px;
    background-color: #ffffff;
    color: #28a745;
    border: none;
    text-align: center;
}

#h {
    color: #007bff;
    font-size: x-large;
    margin-bottom: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Hamburger menu */
.hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: #007bff;
    margin: 6px 0;
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.nav-menu.show {
    display: flex;
}

.nav-menu a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    margin: 10px 0;
}
